<form method="POST" action="/landmarks/<%=@landmark.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <p>Enter New Landmark Name: <input type="text" name="name" id="landmark[name]"></p>
    <p>Enter New Year Completed: <input type="integer" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></p>
    <input type="submit" value="submit" id="Edit Landmark">
  </form>
