<form method="POST" action="/landmarks">
  <p>Enter Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Enter Year Completed: <input type="integer" name="landmark[year_completed]" id="landmark_year_completed"></p>
  <input type="submit" value="submit" id="Create New Landmark">
</form>
